# =====================
# Backend (NestJS)
# =====================
DATABASE_HOST=db           # matches service name in Docker Compose
DATABASE_PORT=5432
DATABASE_USER=${POSTGRES_USER}
DATABASE_PASSWORD=${POSTGRES_PASSWORD}
DATABASE_NAME=${POSTGRES_DB}

JWT_SECRET=supersecretkey
NODE_ENV=development
PORT=3001