# =====================
# Backend (NestJS)
# =====================
DATABASE_HOST=localhost           # matches service name in Docker Compose (if ran comand in docker)
DATABASE_PORT=5432
DATABASE_USER=rotem
DATABASE_PASSWORD=rotem123
DATABASE_NAME=ai_npc_platform

# =====================
# JWT - JSON Web Token
# =====================
JWT_SECRET=supersecretkey
JWT_SECRET_EXPIRES_IN=3600

NODE_ENV=development
PORT=3001

# =====================
# AI - Gemini API Key
# =====================
GEMINI_API_KEY=

# Prisma connection string using env variables
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=public"